@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;700&display=swap");

/* ===================================
========= register page  */
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: url("https://c.wallhere.com/photos/ee/3e/glass_blur_background_glassmorphism_Blender_minimalism_gradient-2184775.jpg!d")
}

.form-container form {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  font-family:"Poppins" ;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;

}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  /* color: #ffdee9; */
  /* font-family: "Playfair Display", serif; */
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  border-radius: 12px;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff9500;
  color: white;
  width: 250px;
  border-radius: 12px;
}

.form-container form button:hover {
  border: 1px solid rgb(72, 0, 255);
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00c3ff,
    #004cff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00c3ff,
    #004cff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forgot-btn {
  background-color: #ff0000a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: rgb(0, 0, 0) !important;
}
